{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
    <dl>

        <form action="{{ url_for('spell_check') }}" method="POST">
           {{ form.csrf_token }}
           <p>{{ form.inputtext.label }}</p>
           {{ form.inputtext }}
            {% for error in form.inputtext.errors %}
                <p class="error">[{{ error }}]</p>
            {% endfor %}
            <p>{{ form.submit() }}</p>
        </form>
        <p>{{ form.textout.label }}</p>
        <p>{{ form.textout }}</p>
        <p>{{ form.misspelled.label }}</p>
        <p>{{ form.misspelled }}</p>

    </dl> <!-- /container -->

{% endblock %}